{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<div class="elementor">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
        <section class="breadcrumb_area breadcrumb_area_two vc-btn-gradient-color vc-btn-gradient-general"> 
        	<img class="breadcrumb_shap hidden-xs " src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/lines.png" alt="lines">
            <div class="marketinglanding {{post_class}}">
                <img class="breadcrumb_pulse hidden-xs" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/heart-lines.png" alt="pulse">
            </div>
            <div class="featuredpage {{post_class}}">
                <img class="breadcrumb_pulse hidden-xs campaign hidden-sm hidden-sml" src="https://res.cloudinary.com/vantagecircle/image/upload/v1586230738/VantageFit/website/topheader.png" alt="pulse">
            </div>
        	<div class="container">
        		<div class="breadcrumb_content text-center main_title  wow fadeInUp animated " data-wow-delay=".1s" style="visibility: visible;-webkit-animation-delay: .1s; -moz-animation-delay: .1s; animation-delay: .1s;">
        			<h1> {{title}}</h1>
                    {{#if custom_excerpt}}
                    <p style="color:#ffffff">{{custom_excerpt}}</p>
                    {{/if}}
        		</div>
        	</div> 
        </section>
        <!--pricng starts-->
        <div class="main-content">
            <section>
                <div class="container">
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12"><div class="title_head text-center wow fadeInUp title_spc animated" data-wow-delay=".3s" style="visibility: visible;-webkit-animation-delay: .3s; -moz-animation-delay: .3s; animation-delay: .3s;">Choose a plan <br><span>that best fits your requirements</span></div></div>
                  </div>
                </div>
            </section>
            <section>
                <div class="container price-container">
                  <div class="row d-flex align_items_center noofUser pricingouter ">
                    <div class = "col-lg-9 col-md-9 col-xs-12 col-sm-8">
                        <div class="user_heading">How many users do you expect?</div>

                        <p class="secondarytext"><b>More than 1,000 users? <a href="/contact-us" class="companycolor">Contact Us</a></b>
                    </div>
                    <div class = "col-lg-3 col-md-3 col-xs-12 col-sm-4">
                        <div class="usersbox text-center">
                            <span class="users">200</span>
                            <br>
                            Users
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label for="range">
                              <input type="range" name="range" id="range" min="0" max="1000" step="5" value="200" class="slider-color"/>
                              <div id="slider-range">
                                  <div id="slider-fill">
                                  </div>
                                  <div class="slider-handle">
                                  </div>
                              </div>
                        </label>
                        <div class="smallfont text-center">Move the slider to estimate how many people you expect to participate</div>
                    </div>
                  </div>
                </div>
            </section>
            <section> 
                <div class="out">
                 Free<output for="range" class="output" attr='3'></output>
                 Premium<output for="range" class="output" attr='5'></output>
                 Enterprice<output for="range" class="output" attr='9'></output>
                </div>
            </section>
        </div>
            <!--pricing ends-->
		    {{content}}
        </div>
    </div>
</div>
{{/post}}


