{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}


<div class="elementor">
    <div class="elementor-inner">
        <div class="elementor-section-wrap">
        	<section class="breadcrumb_area breadcrumb_area_two vc-btn-gradient-color vc-btn-gradient-general"> 
	        	<img class="breadcrumb_shap hidden-xs " src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/lines.png" alt="lines">
	            <img class="breadcrumb_pulse hidden-xs" src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/heart-lines.png" alt="pulse">
	        	<div class="container">
	        		<div class="breadcrumb_content text-center main_title  wow fadeInUp animated " data-wow-delay=".1s" style="visibility: visible;-webkit-animation-delay: .1s; -moz-animation-delay: .1s; animation-delay: .1s;">
	        			<h1 class="singlepost_header"> {{title}}</h1>
	        		</div>
	        	</div> 
	        </section>
        	<div class="main-content b10">
			    <section>
			        <div class="container custom-container">
			            <div class="row post-content details-post">
			            	
            			<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            				<div class="imageholder">
            					<img class="detailspostimg img-responsive"
							            srcset="{{img_url feature_image}}"
							            
							            src="{{img_url feature_image}}"
							            alt="{{title}}"
							        />
            				</div>
            				<!--<div>                        
                                <div class="tagspost"> 
                                 {{date format="DD-MM-YYYY"}} 
                            	</div>
                                <div class="readtime_wrapper">{{reading_time}}
                                </div>
                            </div>
                            <div class="wellness-background text-center title_second">
                            	<div class="second_heading" style="color:#ffffff">Download our eBook for Free</div>
                            	<p  style="color:#ffffff">A Complete Guide To Corporate Wellness Programs</p>
                            	<div class="transform">
						            <a class="popup-youtube banner_btn white_button button-style" href="/ebook/free-ebook-corporate-wellness-program/">
						               <span style="color: #ffffff;">Free Download </span>
						            </a>
						          </div>
                            </div>-->
            				{{content}}</div>
            			<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
            				<div class="downloadsection text-center">
                                <div class="b10">
                                    <div>Schedule a </div>
                                    <h3 style="color:#ffffff">Vantage Fit demo
                                </h3></div>
                                <br>
                                <div class="transform">
                                    <a class="popup-youtube banner_btn white_button button-style" href="https://www.vantagefit.io/request-demo">
                                       <span style="color: #ffffff;">Request Demo</span>
                                    </a>
                                  </div>
                            </div>
            				<div class=" wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
	            				{{#get "posts" include="tags,authors" limit="6"  order="published_at desc"}}
	            				<div class="rightsidebar  ">
	            				<div class="post-title">Latest Post
	            				</div>
	            				
								    {{#foreach posts}}
								    <div class="row d-flex align_items_center ind-row">
								    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12 pclr"><a href="{{url}}"><img class="img-ind img-responsive" src="{{img_url feature_image size="m"}}" alt="{{title}}"/></a></div>
	        							
	        						<div class="col-lg-8  col-md-8 col-xs-12 col-sm-12" style="line-height:1.5"><a href="{{url}}" class="title-post-ind">{{title}}</a></div>
	        						</div>
								    {{/foreach}}
								
								</div>
		            			
								{{/get}}

							</div>
							<div class="downloadsection  sticky wow fadeInRight text-center" data-wow-delay="0.1s" style="visibility: visible;-webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
								<div>
									<h3 style="color:#ffffff">Free eBook</h3>
									A complete guide to wellness program
								</div>
								<img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/_guide-to-corporate-wellness.png" alt="wellnessprogram" >
								
								<div class="transform">
						            <a class="popup-youtube banner_btn white_button button-style" href="/ebook/free-ebook-corporate-wellness-program/" >
						               <span style="color: #ffffff;">&nbsp;&nbsp;Free Download </span>
						            </a>
						          </div>
							</div>
						</div>
							
	            		</div>
	            	</div>
	            </section>
	            <!--download ebok-->
	            <section class="section_space b10 hidden-xs">
    
				    <div  class="wellness-background">
				    <div class="container">
				      <div class="row">
				        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 text-right mob-pull">
				          <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/_guide-to-corporate-wellness.png" alt="wellnessprogram" class="downloadbook">
				        </div>
				        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 healthforce wow fadeInDown animated">
				          <div class="title_second">
				              <div style="margin-bottom:10px"><strong class="guide">A COMPLETE GUIDE TO</strong></div>
				              <strong class="second_heading" style="color:#ffffff">Corporate<br> Wellness Programs</strong>
				          </div>
				          <div class="transform">
				            <a class="popup-youtube banner_btn white_button button-style" href="/ebook/free-ebook-corporate-wellness-program/">
				               <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/download.png" alt="freedownload" style="width:3%;height:10%" class="hidden-xs hidden-sm"> <span style="color: #ffffff;">&nbsp;&nbsp;Free Download </span>
				            </a>
				          </div>
				        </div>
				      </div>
				      <div class="images-wellness hidden-xs hidden-sm hidden-sml">
				        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/dumbell.png" class="img-1" alt="wellnessprogram">
				        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/cycle.png" class="img-2" alt="wellnessprogram">
				        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/food.png" class="img-3" alt="wellnessprogram">
				        <img src="https://res.cloudinary.com/vantagecircle/image/upload/v1580904957/VantageFit/website/shoe.png" class="img-4" alt="wellnessprogram">

				      </div>
				    </div>
				    </div>
				    
				    <div class="welness-bottom hidden-xs">
				    </div>
				  </section>
	        </div>
        </div>
    </div>
</div>

{{/post}}
